
.App{
  text-align: center;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 2%;
  max-height: 100px;
}

.team {
  display: inline-block;
  padding-bottom: 50px;
}

.team1 {
  text-align: left;
  padding-right: 80px;
}

.team2 {
  text-align: right;
  padding-left: 80px;
}

.export {
  text-align: center;

}

.navbar{
  background-color: rgb(14, 27, 59);
  color: white;
}

.navbar_text{
  color: white;
}



